
body {
   font-size: 16px;
   display: flex;
   flex-direction: column;
   font-family: 'Montserrat';
   background-color: rgb(244, 242, 240);


}
/* h1 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: #fff;
} */
.container {
    position: relative;
    height: 100%;
    max-width: 724px;
    margin: 0 auto;
}
/* ================================HEADER========================== */

.header {
    background-color: #222222;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 60px;
    /* user-select: none; */
}
.header-inner {
    height: 100%;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}
.header__main-page-logo {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.header__humburger-container {
    display: block;
    cursor: pointer;
    align-content: center;
}

.header__humburger-container:hover{
    background-color: rgb(255, 255, 255, 0.1);
}
.header__humburger-nav {
    align-self: center;
    color: #fff;
    padding: 5px;
    transition: left .23s;
    width: 35px;
    border-radius: 2px;
}
 

.header__humburger-nav span {
    display: block;
    height: 2px;
    background-color: #ffffff;
    margin: 6px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}
 
.header__humburger-nav span.first {
    margin-top: 0;
}




.header__user {
    display: flex;
    gap: 15px;
    height: 100%;
    /* align-items: center; */
}
.header__user-logo-bx {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;

    /* transition: all .3s; */
}

.header__user-logo-bx:hover {
    background-color: rgb(255, 255, 255, 0.1);
}

.header__user-logo-bx.--user-logo-bx-active {
    background-color: rgb(255, 255, 255, 0.1);
}
.header__humburger-container.--humburger-active {
    background-color: rgb(255, 255, 255, 0.1);
}


.header__user-logo {
    display: block;
    height:40px;
    width: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    user-select: none;
    z-index: -1;
}
.header__user-auth {
    /* align-content: center; */
    color: #fff;
    display: flex;
    flex-grow: 1;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: center;
}
.header__user-auth a {
    text-decoration: none;
    color: #fff;
    transition:all .3s;
    font-size: 1.01em;
    letter-spacing: 2px;
    height: 100%;
    align-content: center;
}
.header__user-auth a:hover {
    opacity: .9;
    background-color: rgb(255, 255, 255, 0.1);

}
.header__login {
}
.header__registrate {
}
/* ================================MAIN NAV========================= */
.main__nav {
    /* width: 205px; */
    /* padding: 20px; */
    color: #fff;
    backdrop-filter: blur(100px);
    letter-spacing: .1em;
    position:absolute;
    top: 60px;
    right: 319.5px;
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    justify-content: space-between;

}
.main__nav-block {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    gap: 10px;
    text-emphasis: none;
    padding: 20px 5px;
}
.nav-block__element {
    font-size: 17px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    letter-spacing: 1px;
    transition: all .3s;
    padding: 0 20px;
}

.nav-block__element:hover {
    /* scale: 1.07; */
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 5px;
}
.--groups {
}
.nav-block__element {
}
.--friends {
}
.--messages {
}
.--tasks {
}
@media (max-width: 550px){
    .header__user-auth {
        display: none;
    }
    .header__user-logo-bx {
        display: none;
    }
}
/* ================================MAIN============================ */
.main {
    background-image: url('/front/images/main-page-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 100%;
    height: 100vh;
    position: relative;
    top: 60px;
}
.main-inner {
    /* background-color: teal; */
    height: 100%;
    width: 100%;
    padding: 0 10px;
    backdrop-filter: blur(5px);
    /* background-color: #fff; */
    /* border: 1px solid rgb(12, 12, 147, .2); */
    display: flex;
    flex-direction: column;

}
.main__tasks {
    height: 100%;
    margin-top: 30px;
}


.main__tasks-create {
    background-color: rgb(255, 255, 255);
    /* backdrop-filter: blur(100px); */
    border-radius: 5px;
    border: 1px solid rgba(193, 193, 193, 0.5);
    /* min-height: 70px; */
    display: flex;
    padding: 5px;
    margin: 0 5px;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    margin-bottom: 5px;
}
.main__tasks-create button {
    font-size: 17px;
    color: rgb(255, 255, 255);
    background-color: rgb(12, 12, 147);
    padding: 10px;
    
    border-radius: 5px;
    display: block;
    transition: all .3s;
}
.main__tasks-create button:hover {
    scale: 1.05;
}
.main__tasks h2 {
    font-weight: 700;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 35px;
}
.main__tasks-create p {
    color: rgb(40, 40, 40);
    /* color: rgb(0, 0, 0); */
    font-size: 18px;
    display: block;
    font-weight: 500;
}
.main__tasks-block {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    flex-direction: column;
    gap: 5px;
    overflow-y:auto;
    max-height: 65vh;
    flex-wrap: nowrap;
    padding-bottom: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 10px;
}
.main__tasks-cart {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    align-items: center;
    border-bottom: 4px solid rgb(12, 12, 147, .6);
    /* border-bottom: 4px solid red; */
    border-radius: 10px;
    background-color: #fff;
    flex-grow: 1;
    transition: all .4s;
    height: 40px;
    /* margin: 0 10px; */
    /* overflow: hidden; */
}
.main__tasks-cart:hover {
    scale: 1.025;
    cursor:pointer;
}
.main__task-description {
    overflow: hidden;
}

.main__tasks-cart .bx {
    position: relative;
}

.--task-btn {
    background-color: rgba(30, 75, 211, 0.3);
    padding: 6px;
    border-radius: 5px;
    transition: all .3s;
}
.--task-btn:hover {
    scale: 1.1;
}
.error-message{
    position: relative;
    top: 5%;
    font-size: .7em;
    left: 5%;
    color: #ff0000;
    letter-spacing: .2em;
}
#date-load {
    width: 120px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.4);
}

.--task-complete {
    opacity: .6;
}

@media (max-width:428px){
    .main__tasks h2 {
        /* font-size: 14px; */
    }
    .main__tasks {
        margin-top: 10px;
    }
    .main__tasks-block {
        max-height: 55vh;
    }
    .main__tasks-management {
        display: flex;
    }
    .main__tasks-create {
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        border: 1px solid rgba(193, 193, 193, 0.5);
        flex-direction: column;
        flex-grow: 1;
        padding: 5px;
        gap: 5px;
        margin-top: 20px;
        

    }
    .main__tasks-create p {
        font-size: .9em;
    }
    .main__tasks-create button {
        width: 100%;
        flex-grow: 1;
        font-size: .8em;
    }
    .main__tasks-create button:hover {
        scale: none;
    }
}
/* ==================================Create-task-form======================================= */
.wrapper{
    width: 420px;
    font-size: .9em;
    /* background:transparent; */
    border: 1px solid rgb(0, 0, 0, 0.4);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px 40px;
    border-radius: 10px;
    backdrop-filter: blur(100px);
    letter-spacing: .1em;
    position: absolute;
    top: 50%;
    right: 50%;

    transform: translateX(calc(50%)) translateY(calc(-50%));
}
.wrapper h1.task {
    font-size: 2em;
    text-align: center;
    margin-bottom: 15px;
}
.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
    color: rgb(255, 255, 255, .4);
    font-size: 14px;
    letter-spacing: .1em;
    text-align: center;
}

.btn-box {
    padding: 10px 0;
}
.wrapper .btn-create {
    width: 100%;
    height: 45px;
    background: rgb(255,255,255);
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .4);
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 600;
    transition: all .3s;
    letter-spacing: .1em;
}
.wrapper .btn-create:hover {
    transform: scale(1.05);
}

.wrapper__data-input input {
    border: 1px solid rgb(0, 0, 0, 0.4);
    padding: 5px;
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 10px;
}

@media (max-width:628px){
    .wrapper{
        padding: 10px 20px;
    }
}

@media (max-width:458px){
    .wrapper{
        width: 100%;
    }
}

/* =======================user-settings-menu======================*/
.user-settings-wrapper{
    width: 205px;
    padding: 15px 5px;
    color: #fff;
    backdrop-filter: blur(100px);
    letter-spacing: .1em;
    position:absolute;
    top: 60px;
    right: 19px;
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

.user-settings-wrapper__user-logo-bx {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    width:90px;
    transition: all .3s;
    padding: 10px;
}
.user-settings-wrapper__user-logo-bx:hover {
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 10px;
}
.user-settings-wrapper__user-logo {
    display: block;
    height:55px;
    width: 55px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    align-self: center;
    user-select: none;
    z-index: -1;
}
.user-settings-wrapper__user-logo-bx p {
    text-align: center;
    user-select: none;
}
.user-settings-wrapper__exit {
    display: block;
    width: 100%;
    text-align: left;
    align-self: start;
    border-radius: 5px;
    padding: 5px;
    transition: all .3s;
}
.user-settings-wrapper__exit:hover {
    background-color: rgb(255, 255, 255, 0.1);
}

.user-settings-wrapper__accounts-box {
}